<!doctype html>
<html ng-app>
  <head>
  	<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.2.1/css/bootstrap-combined.min.css" rel="stylesheet">
  	<link href="css/decisions.css" rel="stylesheet"></link>
  </head>
  <body>
  	<div class="container">
  		<div class="row">
  			<div class="span8 offset2 decisions">
  				
<div class="hero-unit">
	<h1>
		Decisions, decisions...
	</h1>
	
	<br />
	<p>
		Need to make an import decision, but just can't make up your mind?  
	</p>
	<p>
		Now, with the magic of a cryptographically secure pseudorandom number
		generator<sup><a href="http://golang.org/pkg/crypto/rand/">*</a></sup>, this
		website can make all your decisions for you!   
	</p>
	<p>	
		Just describe your quandry, supply some possible answers, and click
		<i>Decide!</i>
	</p>
	
</div>
<div ng-controller="Decision">
  <form novalidate class="simple-form">
    Question: <input type="text" ng-model="decision.question" /><br />
    <div ng-repeat="choice in decision.choices">
    	
    	Choice {{ $index + 1 }}: <input type="text" ng-model="choice.text" /><br />
    </div>
    <button ng-click="reset()">RESET</button>
    <button ng-click="update(decision)">SAVE</button>
  </form>
  <pre>form = {{decision | json}}</pre>
  <pre>master = {{master | json}}</pre>
</div>

  			</div>
  		</div>
  	</div>
  	<script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.2.1/js/bootstrap.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.2/angular.min.js"></script>
    <script src="js/app.js"></script>
  </body>
</html>