<!doctype html>
<html ng-app>
  <head>
  	<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.2.1/css/bootstrap-combined.min.css" rel="stylesheet">
  	<link href="css/decisions.css" rel="stylesheet"></link>
  </head>
  <body>
  	<a href="https://github.com/jmcvetta/decisions">
  		<img style="position: absolute; top: 0; right: 0; border: 0;" 
  		src="https://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png" 
  		alt="Fork me on GitHub">
	</a>
  	<div class="container">
  		<div class="row">
  			<div class="span8 offset2 decisions">
  				
<div class="hero-unit">
	<h1>
		Decisions, decisions...
	</h1>
	
	<br />
	<p>
		Need to make an important decision, but just can't make up your mind?  
	</p>
	<p>
		Now, with the magic of a cryptographically secure pseudorandom number
		generator<sup><a href="http://golang.org/pkg/crypto/rand/">*</a></sup>, this
		website can make all your decisions for you!   
	</p>
	<p>	
		Just describe your quandary, supply some possible answers, and click
		<i>Decide!</i>
	</p>
	
</div>

<div ng-controller="DecisionCtrl">
  <form novalidate class="form-horizontal">
  	<div class="control-group">
	  	<label class="control-label" for="quandary">
	  		Quandary
	  	</label>
	  	<div class="controls">
		    <textarea id="quandary" ng-model="decision.quandary"></textarea>
	  	</div>
  	</div>
    <div ng-repeat="choice in decision.choices">
    	<div class="control-group">
	    	<label class="control-label" for="choice{{$index+1}}">
	    		Possible Solution {{ $index + 1 }}
	    	</label>
	    	<div class="controls">
		    	<input type="text" ng-model="choice.text" /><br />
	    	</div>
    	</div>
    </div>
    <button ng-click="decide(decision)" class="btn btn-primary btn-large">Decide!</button>
    <button ng-click="reset()" class="btn pull-right" >Reset Form</button>
  </form>
  <pre>data = {{data | json}}</pre>
  <pre>winner = {{winner | json}}</pre>
  <pre>form = {{decision | json}}</pre>
  <pre>master = {{master | json}}</pre>
</div>

  			</div>
  		</div>
  	</div>
  	<script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.2.1/js/bootstrap.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.2/angular.min.js"></script>
    <script src="js/app.js"></script>
  </body>
</html>