


body {
	background-image: url("../img/sf-fog.jpg");
}

.container {
	padding-top: 3em;
}

.decisions {
	background-color: rgba(238,238,238,0.7);
	padding: 3em;
}

.hero-unit {
	background-color: rgba(238,238,238, 0.4);
}

